{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      url-rss -
      domonicmilesi.com
    </title>

    <meta charset="utf-8">
    <meta name="author" content="Domonic Milesi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="{% static 'rss/style.css' %}" />
  </head>

  <body>
    <header>Back to <a href="https://domonicmilesi.com/">domonicmilesi.com</a></header>
    <main class="content container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
