{% extends "base.html" %}

{% block content %}
<h1>
  This is a tool for creating an RSS feed out of a list of urls.
</h1>
<p>
  You supply a list of URLs here; then I can generate an RSS feed for you that publishes these URLs one by one.
<p>
<p>This is useful for working through blog archives. Think of it as similar to re-airing a TV show. </p>
<form method="post">{% csrf_token %}
  <p>
    <label for="id_title">Name your list:</label>
    <input type="text" name="title" required="" id="id_title">
  </p>
  <p>
    <label for="id_description">Optionally describe your content (this will appear in the description section of the rss feed):</label>
    <input type="text" name="description" id="id_description">
  </p>
  <p>
    <label for="id_item_links">URLs go here:</label>
    <textarea name="item_links" cols="40" rows="10" required="" id="id_item_links"></textarea>
  </p>
  <p>
    RSS feed will publish the URLs above from the first line down. You can reverse this and publish from the last line up instead.
    <br>
    <input type="checkbox" id="id_reverse" name="reverse">
    <label for="id_reverse">Publish in reverse.</label>
  </p>
  <input type="submit" value="Create">
</form>
{% endblock %}
