{% extends "base.html" %}

{% block content %}
<h1>This is {{object.title}}</h1>
<p>{{object.description}}</p>
<h2>You can subscribe to an <a href="{% url 'rss:create_consumable' object.id %}">RSS feed that publishes these links</a>.</h2>

<h3>These are the URLs, numbered in the order they'll be published in.</h3>
<ul style="list-style-type:decimal;">
  {% for link in page_obj %}
    <li><a href="{{link.content_link}}">{{link.content_link}}</a></li>
  {% endfor %}
</ul>
<div>
    <span>
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span>
          {{page_obj.start_index}}-{{page_obj.end_index}} of {{total_count}} URLs; page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
